label {
  display: flex;
  align-items: center;
  .originalCheckbox {
    display: none;
  }

  .customCheckbox {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 4px;
    margin-right: 5px;
  }

  .customCheckbox::before {
    content: "";
    position: absolute;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    width: 18px;
    height: 18px;
    opacity: 0;
    transition: 0.15s ease-in-out;
  }

  .originalCheckbox:checked + .customCheckbox::before {
    opacity: 1;
    background: url(./../../assets/done.svg) no-repeat;
  }
}
